body{
  margin: 0;
  padding: 0;
  background-color: snow;
  box-sizing: border-box;
  background-image: url('../images/atlas-green-Fz77XHwFYg0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 111vh 110vh;
  background-position: right top;
}
.nav{
  text-align: center;
  padding-top: 20px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  padding: 25px 45px 20px 45px;
  margin-top: 25px;
  font-size: 18px;
  color: rgb(20, 173, 233);
  font-family: sans-serif;
  transition: .3s;
}
.nav ul li a span{
  font-family:  'Alfa Slab One', cursive;
  font-size: 25px;
}
#active{
  border-bottom: 2px solid rgb(20, 173, 233);
}
.nav ul li a:hover{
  background-color: rgb(8, 96, 131);
  border-radius: 5px;
  transition: .3s;
  opacity: 0.6;
}